.group-form {
  list-style: none;
  margin: 0 auto;
  padding: 7rem;
  width: 90%;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: #dfe3e4;
}
.display {
  padding-top: 6rem;
}
input {
  margin: 10px !important;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  color: #dfe3e4;
  /* background-color: rgba(68, 85, 90, 0.4); */
  border: transparent;
  border-radius: 5px;
}
input.placeholder {
  color: #dfe3e4;
}
input:hover,
input:focus,
input:active {
  background-color: rgba(68, 85, 90, 0.7);
}
.paper {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: rgba(68, 85, 90, 0.4);
  border-radius: 20px;
  padding-top: 4rem;
}

.makeBut {
  background-color: rgba(68, 85, 90, 0.4);
  border-radius: 20px;
  border: transparent;
  margin: 20px;
  padding: 10px;
  color: #dfe3e4;
}
