h1 {
    font-size: 2.25rem;
    font-weight: bold;
    font-family: 'Uncial Antiqua', cursive;
}

label {
    font-family: 'Uncial Antiqua', cursive;
}

button {
    font-family: 'Uncial Antiqua', cursive;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #e7e7e7;
}

input {
    font-family: 'Uncial Antiqua', cursive;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

input:hover {
    background-color: #e7e7e7;
}

.input:focus {
    border-color: #e7e7e7;
    color: #e7e7e7;
}
p {
    font-family: 'Uncial Antiqua', cursive;
}
.content {
    font-family: 'Inknut Antiqua', serif;
}